@charset "utf-8";
/* CSS Document */

@import url('http://fonts.googleapis.com/css?family=Roboto:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:200,300,400,500,600,700,800');
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
	color:#0b0b0b;
	background-color: #d0d0d0;
	margin: 0px;
}

.all {
  position: relative;
  width:76%;
	height:auto;
	top:0%;
	padding: 0px;
  margin: 0px auto 0px;
	min-height: 1100px;
	background-color: #e7e7e7!important;
	filter: drop-shadow(0px 0px 4px #7d7d7f);
}


header {
	position: relative;
	width:100%;
clear:both;
	left:0;
	text-align: center;
	background-color:#41382f;
	background: linear-gradient(110deg, #41382f 60%, #493f36 60%);
	background-repeat: repeat;
	margin: 0px auto;
	z-index:9;
}

header h1 {
	color: #b1aca8;
	text-shadow: 2px 2px #39322b;
	font-size: 40pt;
	text-align: center;
	padding: 10% 0px 0px;
}

header h2 {
	font-size: 5pt;
	text-align: center;
	padding: 50px 0px 0px;
}

header button {
	width: calc(60% / 6);
	color: #b1aca8;
	background-color: #2a251f;
	border: 2px solid #37322e;
	padding: 5px 20px;
	margin: 20px 10px 50px;
}

header button:after {
float: right;

	font-size: 7pt;
	color: #686360;
	content: "\25BC";
	margin: 3px 0px 0px 0px;
}

#main-content{
	position: relative;
	width:100%;
	top: 0%;
	background-color: #fff;
	padding: 0px 0px 0px;
	margin: 0% auto;
	z-index: 999;
}

	#home{
		width: 100%;
		left: 0%;
		background-color:#f7f7f7;
		margin: 0px auto;
		padding: 0px 0px 0px 0px;
	}

	#content {
		width: 70%;
		text-align: center;
		margin: 0px auto;
		padding: 70px 0px;
	}


		#ft {
			position: relative;
			float: right;
			width: 100%;
			height: 50%;
			top: 0%;
			right: 0%;
			background-color:#0e0e0e;
			background-image: url('/site/abtest/assets/img/concrete.png');
			background-position: top-left;
			background-repeat: repeat;
			text-align: center;
			padding: 0% 0px;
			margin: 0px auto 0px;
		}

		.slider {
			position: relative;
			width: 100%;
			height: 50%;
			bottom: 0%;
			right: 0;
			text-align: center;
			background-color: #111;
			padding:0px 0px;
			margin: 5% 6% 0px 0px;
		}


		footer {
			position: relative;
			bottom:0px;
			width:100%;
			font-family: Sans-serif;
			font-size: 5pt;
			letter-spacing: 1.5px;
			text-align: center;
			color:#ededed;
			background-color:#111;
			border-top: #fff;
			padding: 15px 0px;
			margin: 0px auto 0px;
z-index: 999;
		}

			footer a,footer a:link,footer a:visited,a:active {
					font-family: Sans-serif;
					font-size: 5pt;
					letter-spacing: 2px;
					text-decoration:none;
					text-transform: uppercase;
					color:#fff;
					background-color:transparent;
					padding:3px 0px 3px 2px;
				}
					footer	a:hover {
							color:#f7f7f7;
							background-color:#222;
							cursor:help;
						}

				#music {
					display: block;
					height: 10px;
					font-family: arial;
					font-size: 7px;
					font-weight: normal;
					letter-spacing: 2px;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					background-color: #e0e0e0;
					border-bottom:1px solid #fff;
					padding: 20px 0px 40px 0px;
					margin: 0px 0px;
				}

				.playerbutton{cursor:pointer;border:none;background:transparent;outline:none;display:inline;}
				.youtubebox,.preload_box{width:1px;height:1px;overflow:hidden;position:absolute;display:inline;}

		::-webkit-scrollbar {		width:7px; }
		::-webkit-scrollbar-track {		background-color:#000; }
		::-webkit-scrollbar-thumb {		background-color:#ededed; }
		::-webkit-scrollbar:horizontal {		height:0; }

#bar {
	position: relative;
		bottom: 0%;
		left: 0%;
		width: 100%;
		background-color: #545045;
		margin: 0px auto;
		padding: 0px 0px 0px;
		z-index: 999;
}

#brand {
	float: left;
}

		menu {position: relative;
		float: right;
			bottom: 0%;
			left: 0%;
width: 100%;
			background-color: #38332f;
			margin: 0px auto;
			padding: 0px 0px 0px;
			z-index: 999;
		}

		menu ul {
		float: right;
			display: inline-block;
								background-color: transparent!important;
			list-style: none;
			margin:0px;
			padding: 0px;

		}

		menu ul li {
				display: inline;
				text-align: right;
									background-color: transparent;
		}

			menu a {
				display: inline-block;
				width: 130px;
				text-align: center;
				font-family: Sans-serif;
		font-size: 8px;
		font-weight: bold;
				letter-spacing: 1.5px;
				line-height: 7px;
				color: #c1bbca;
				background-color: transparent;
				text-decoration: none;
				text-transform: uppercase;
				margin: 0px 0px;
				padding: 20px 0px;
				-moz-transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}

			menu a:hover {
				text-align: center;
				color: #111 !important;
				background-color: transparent;
				-moz-transition: all .6s ease-in-out;
				-webkit-transition: all .6s ease-in-out;
				transition: all 0.6s ease-in-out;
				cursor: help;
			}



			nav {
				bottom: 0%;
				left: 0%;
	width: 100%;
				background-color: #f0f0f0;
				margin: 0px auto;
				padding: 0px 0px 0px;
				text-align: center;
				z-index: 999;
			}

			nav ul {
				display: inline-block;
					background-color: transparent;
				list-style: none;
				text-align: center;
				margin:0px;
				padding: 0px;

			}

			nav ul li {
					display: inline;

					background-color: transparent;
			}

				nav a {
					display: inline-block;
					width: 130px;
					text-align: center;
					font-family: Sans-serif;
			font-size: 8px;
			font-weight: bold;
					letter-spacing: 1.5px;
					line-height: 7px;
					color: #c1bbca;
					background-color: transparent;
					text-decoration: none;
					text-transform: uppercase;
					margin: 0px 0px;
					padding: 20px 0px;
					-moz-transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}

				nav a:hover {
					text-align: center;
					color: #111 !important;
					background-color: transparent;
					-moz-transition: all .6s ease-in-out;
					-webkit-transition: all .6s ease-in-out;
					transition: all 0.6s ease-in-out;
					cursor: help;
				}



.colorbar {
	width: 60%;
	height: 20px;
margin: 0px auto 0px;
padding: 20px;
background-color: #3b342c;
box-shadow: 0 0 5px 0px #3b342c;
text-align: center!important;
}

.div1 {
	display: inline-block;
  width: 20%;
  height: 20px;
  background-color: #3f382e;
	border: 1px solid #afaca7;
	margin: 0px!important;
}

.div2 {
	display: inline-block;
  width: 20%;
  height: 20px;
  background-color: #c3c3c3;
	border: 1px solid #afaca7;
}

.div3 {
	display: inline-block;
  width: 20%;
  height: 20px;
  background-color: #91a5a4;
	border: 1px solid #afaca7;
}

.div4 {
	display: inline-block;
  width: 20%;
  height: 20px;
  background-color: #38332f;
	border: 1px solid #afaca7;
	margin:0px;
}
