.nav {
  position:relative;
	text-align: center;
	width: 100%;
	left:0%;
	top:0px;
	background-color: #000;
	margin: 0px auto;
	padding: 0px 0px;
	z-index:999;
}

.nav a:link,
.nav a:visited,
.nav a:active {
    display:inline-block;
    width:100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing:2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#f7f7f7;
    margin: 0px 10px;
    padding: 15px 0px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
  }

#nav a:hover {
font-size: 0.4rem;
font-weight: 400;
letter-spacing: 5px;
color:#fff;
background-color: transparent;
cursor:help;
}

  .nav-fixed {
    position: fixed;
    width: 76%;
    left: 12%;
    top: 0!important;
  }
