/* S T Y L E S H E E T   M A D E   B Y   K Y A @ I M V U . C O M

   E T O I L E   L A Y O U T S    (C)   A L L   R I G H T S   R E S E R V E D

   D O   N O T   S T E A L,   A L T E R,   R E D I S T R I B U T E   OR   C O P Y    I N   A N Y    W A Y!

   Y O U   H A V E   B E E N   W A R N E D! */

@import url('https://fonts.googleapis.com/css?family=Roboto');

/*OVERALL WEBSITE STRUCTURE*/

body, html {
  background: rgb(210,254,255);
  background: -moz-linear-gradient(45deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%);
  background: linear-gradient(45deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2feff",endColorstr="#ffd5f2",GradientType=1);
  background-attachment: fixed;
  margin: 0;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

#Container {
  position: relative;
  width: 1400px;
  top: 35px;
  left: 0;
  margin: 0 auto 35px auto;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.25);
     -moz-box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.25);
          box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.25); }

#Top {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0; }

#Logo {
  position: relative;
  width: 160px;
  height: 80px;
  left: 0;
  top: 10px;
  margin: 0 auto; }

#Nav {
  position: absolute;
  width: 580px;
  height: auto;
  top: 30px;
  z-index: 999; }

nav ul {
  position: relative;
  list-style-type: none;
  width: 580px;
  height: auto;
  top: 0px;
  left: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 0; }

nav ul li {
  position: relative;
  float: left;
  margin-bottom: 2.5px;
  padding: 0; }

nav ul li a, nav ul li a:link, nav ul li a:visited, nav ul li a:active {
  display: block;
  width: 118px;
  font-family: Sans-serif;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  line-height: 7px;
  text-decoration: none;
  border-radius: 20px;
  padding: 16px 8px 12px 8px;
  margin: 0 3px;
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }

nav ul li a.A, nav ul li a:link.A, nav ul li a:active.A, nav ul li a:visited.A { color: #a0f0f2; }
nav ul li a:hover.A, nav ul li:hover a.A { background-color: #b5f6f7; color: #fff; }
nav ul li a.B, nav ul li a:link.B, nav ul li a:active.B, nav ul li a:visited.B { color: #afa6fb; }
nav ul li a:hover.B, nav ul li:hover a.B { background-color: #bcb4fb; color: #fff; }
nav ul li a.C, nav ul li a:link.C, nav ul li a:active.C, nav ul li a:visited.C { color: #ffc5ed; }
nav ul li a:hover.C, nav ul li:hover a.C { background-color: #ffc5ed; color: #fff; }

nav li ul {
  position: absolute;
  float: left;
  width: 100%;
  left: 0;
  top: 50px;
  margin-top: 6.5px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
     -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }

nav li:hover ul {
  height: auto;
  opacity: 1;
  top: 30px;
  visibility: visible; }

nav li ul li {
  float: none;
  width: 100%; }

nav ul li ul li a { color: #ccc; background-color: #fff; border: solid 1px #f2f2f2; border-radius: 20px; /*-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.15); -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.15); box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.15);*/ }

nav li:hover a:hover.A2 { color: #a0f0f2; border: solid 1px #a0f0f2; }
nav li:hover a:hover.B2 { color: #afa6fb; border: solid 1px #afa6fb; }
nav li:hover a:hover.C2 { color: #ffc5ed; border: solid 1px #ffc5ed; }

#Footer {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  color: #bbb;
  font-family: Sans-serif;
  font-size: 8px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 10px 0; }

#Footer a:link, #Footer a:active, #Footer a:visited, #Footer a:hover {
  color: #afa6fb;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition:all 0.5s ease-in-out;
     -moz-transition:all 0.5s ease-in-out;
      -ms-transition:all 0.5s ease-in-out;
       -o-transition:all 0.5s ease-in-out;
          transition:all 0.5s ease-in-out; }

::-webkit-scrollbar { width: 0px; }

::-webkit-scrollbar-button { width: 12px; height:5px; }

::-webkit-scrollbar-track {
  background: transparent!important;
  border: none;
  border-radius:10px; }

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius:10px;
  }

/*MAIN PAGE STYLES*/
#Slider {
  position: relative;
  width: calc(100% - 200px);
  height: 320px;
  left: 0;
  top: 100px;
  margin: 0 auto; }

#New {
  position: relative;
  width: 1074px;
  height: 210px;
  left: 0;
  margin: 0 auto; }

#New.Main { top: 120px; }

#New table tr td #Display {
  position: absolute;
  width: 170px;
  height: 170px;
  background-color: #fff!important;
  border: solid #e7e7e7 1px;
  border-radius: 20px;
  z-index: 1;
  padding: 6px;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.15);
     -moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.15);
          box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.15);
  margin-left: 2px;
  margin-right: 2px; }

#Display .Inner {
  position: relative;
  width: 170px;
  height: 170px;
  top: 0;
  left: 0;
  color: #fff;
  font: bold 11px Calibri;
  text-transform: Uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  opacity: 0;
  background-color: rgba(255, 199, 238, 0.50);
  border-radius: 20px;
  cursor: default;
  -webkit-transition:all 0.5s ease-in-out;
     -moz-transition:all 0.5s ease-in-out;
      -ms-transition:all 0.5s ease-in-out;
       -o-transition:all 0.5s ease-in-out;
          transition:all 0.5s ease-in-out; }

#Display .Inner:hover {
  opacity: 1;
  -webkit-transition:all 0.5s ease-in-out;
     -moz-transition:all 0.5s ease-in-out;
      -ms-transition:all 0.5s ease-in-out;
       -o-transition:all 0.5s ease-in-out;
          transition:all 0.5s ease-in-out; }

#Display .Inner H1 {
  position: relative;
  font: bold 20px Calibri;
  line-height: 20px;
  padding: 60px 0 0 0;
  margin-top: 0;
  cursor: default; }

#Display .Inner H1.Pre { padding: 40px 0 0 0!important; }

#Grid {
  position: relative;
  width: 1120px;
  height: 400px;
  top: 120px;
  left: 0;
  margin: 0 auto; }

#Grid .column {
  float: left;
  width: calc(25% - 20px);
  height: 380px;
  color: #bdbdbd;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.15);
     -moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.15);
          box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.15);
  margin: 0 10px; }

#Grid .column p { margin: 0 10px; }

#Grid .column.A { border-bottom: solid 5px #a0f0f2; }
#Grid .column.B { border-bottom: solid 5px #afa6fb; }
#Grid .column.C { border-bottom: solid 5px #ffc5ed; }

#Grid .column H1 {
  width: 100%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  line-height: 22px;
  border-radius: 20px 20px 0 0;
  cursor: default;
  padding: 15px 0;
  margin: 0 0 20px 0;
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }

#Grid .column H1.A { background: rgb(210,254,255); background: -moz-linear-gradient(28deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); background: -webkit-linear-gradient(28deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); background: linear-gradient(28deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2feff",endColorstr="#ffd5f2",GradientType=1); }
#Grid .column H1.B { background: rgb(210,254,255); background: -moz-linear-gradient(214deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); background: -webkit-linear-gradient(214deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); background: linear-gradient(214deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2feff",endColorstr="#ffd5f2",GradientType=1); }
#Grid .column H1.C { background: rgb(210,254,255); background: -moz-linear-gradient(82deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); background: -webkit-linear-gradient(82deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); background: linear-gradient(82deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2feff",endColorstr="#ffd5f2",GradientType=1); }
#Grid .column H1.D { background: rgb(210,254,255); background: -moz-linear-gradient(315deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); background: -webkit-linear-gradient(315deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); background: linear-gradient(315deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2feff",endColorstr="#ffd5f2",GradientType=1); }

#Grid .column H1 i {
  font-size: 30px;
  background-color: #fff;
  border-radius: 100%;
  padding: 15px 12.5px;
  margin-bottom: 8px; }

#Grid .column H1.A i { color: #a0f0f2; }
#Grid .column H1.B i { color: #afa6fb; }
#Grid .column H1.C i { color: #ffc5ed; }

#Grid .column #row:after {
  content: "";
  display: table;
  clear: both; }

#Grid .column2 {
  float: left;
  width: calc(50% - 21px);
  height: 180px;
  color: #bdbdbd;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  padding: 0 10px;
  margin: 0; }

#Mid {
  position: relative;
  width: calc(100% - 20px);
  height: 280px;
  top: 46px;
  left: 0;
  margin: 0 auto; }

#Mid .Support {
  position: absolute;
  float: left;
  width: calc(28% - 21px);
  height: 240px;
  left: 60px;
  top: 60px;
  padding: 10px;
  margin: 0; }

#Mid .Support input {
  width: 350px;
  background-color: #fbfbfb;
  color: #afa6fb;
  border: solid 1px #dedede;
  padding: 2px 4px; }

#Mid .Customers {
  position: absolute;
  width: calc(44% - 21px);
  height: 260px;
  left: calc(28% + 65px);
  top: 80px;
  color: #bdbdbd;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  padding: 10px;
  margin: 0; }

#Mid .Insta {
  position: absolute;
  width: calc(15% - 21px);
  height: 220px;
  left: calc(68% + 150px);
  top: 92px;
  color: #bdbdbd;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 32px;
  margin: 0; }

#Mid .Insta H1 {
  color: #fff;
  font: bold 15px Calibri;
  text-transform: Uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  background: rgb(210,254,255);
  background: -moz-linear-gradient(28deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%);
  background: -webkit-linear-gradient(28deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%);
  background: linear-gradient(28deg, rgba(210,254,255,1) 0%, rgba(213,208,255,1) 50%, rgba(255,213,242,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2feff",endColorstr="#ffd5f2",GradientType=1);
  padding: 5px 0;
  margin: 0; }

/* EXCLUSIVE, PRODUCT PAGE, SEMI EXCLUSIVE, MASS SALE */

DH1:before { background-color: #a0f0f2; color: #fff; font-family: FontAwesome; font-size: 30px; content: "\f006"; padding: 10px; }

DH1 {
  position: relative;
  top: 120px;
  left: 11.3%;
  color: #a0f0f2;
  font: normal 20px 'Roboto', sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 6px 0;
  z-index: 9; }

DH2:before { background-color: #d5d0ff; color: #fff; font-family: FontAwesome; font-size: 30px; content: "\f006"; padding: 10px; }

DH2 {
  position: relative;
  top: 120px;
  left: 11.3%;
  color: #d5d0ff;
  font: normal 20px 'Roboto', sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 6px 0;
  z-index: 9; }

DH3:before { background-color: #ffd5f2; color: #fff; font-family: FontAwesome; font-size: 30px; content: "\f006"; padding: 10px; }

DH3 {
  position: relative;
  top: 120px;
  left: 11.3%;
  color: #ffd5f2;
  font: normal 20px 'Roboto', sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 6px 0;
  z-index: 9; }

#Desc {
  position: relative;
  width: 1100px;
  top: 135px;
  left: 0;
  color: #bdbdbd;
  font-family: sans-serif;
  font-size: 13px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 18px;
  margin: 0 auto; }

#Desc ul {
  list-style-type: none; }

/*#Desc.Exclusive, #Desc.Semi, #Desc.Mass, #Desc.Standard, #Desc.Dynamic, #Desc.Soapbox, #Desc.StandardPP { height: 150px; top: 47px; margin-bottom: 20px; }
#Desc.Full { height: 150px; top: 47px; margin-bottom: 20px; }
#Desc.Complex { height: 180px; top: 47px; margin-bottom: 20px; }
#Desc.DynamicPP { height: 150px; top: 67px; margin-bottom: 20px; }
#Desc.Slots { height: 100px; top: 47px; margin-bottom: 20px; }
#Desc.Wait { height: 100px; top: 57px; margin-bottom: 20px; }
#Desc.Reg, #Desc.Pixel, #Desc.Forum { height: 120px; top: 47px; margin-bottom: 20px; }
#Desc.RS { height: 130px; top: 47px; margin-bottom: 20px; }
#Desc.Payment { height: 80px; top: 47px; margin-bottom: 30px; }
#Desc.PP { height: 80px; top: 47px; margin-bottom: 30px; }
#Desc.Card { height: 70px; top: 47px; margin-bottom: 30px; }
#Desc.Sticker { height: 110px; top: 47px; margin-bottom: 30px; }
#Desc.TOS, #Desc.FAQ {  top: 47px; margin-bottom: 20px; }
#Desc.About { position: absolute; width: 45%; height: 360px; top: 70px; margin-bottom: 20px; }
#Desc.Track { position: absolute; height: 470px; top: 70px; margin-bottom: 20px; }*/

#Desc a:link, table.Slots a:link, table.Wait a:link, #Grid a:link, #Grid2 a:link {color: #ffc5ed;text-decoration: none;border-bottom: dotted 1px #ffc5ed;padding: 1px 3px; }
#Desc a:visited, table.Slots a:visited, table.Wait a:visited, #Grid a:visited, #Grid2 a:visited { color: #ffc5ed;text-decoration: none;border-bottom: dotted 1px #ffc5ed;padding: 1px 3px; }
#Desc a:active, table.Slots a:active, table.Wait a:active, #Grid a:active, #Grid2 a:active { color: #ffc5ed; text-decoration: none; border-bottom: dotted 1px #ffc5ed; padding: 1px 3px; }
#Desc a:hover, table.Slots a:hover, table.Wait a:hover, #Grid a:hover, #Grid2 a:hover { color: #fff; background-color:#ffc5ed; cursor: default; text-decoration: none; border-bottom: dotted 0px #fff; padding: 1px 3px; }
#Desc u, table.Slots u, table.Wait u, #Grid u, #Grid2 u { color: #afa6fb; text-decoration: none;border-bottom: dotted 1px #afa6fb; }
#Desc b, table.Slots b, table.Wait b, #Grid b, #Grid2 b { color: #a0f0f2; }
#Desc i, table.Slots i, table.Wait i, #Grid i, #Grid2 i { color: #ffc5ed; }
#Desc H1 {
  color: #ffffff;
  background: #a4eae9;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  text-indent: 6px;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 3px 0;
  margin: 0 0 1px 0; }

#Grid blockquote {
  width: 90%;
  color: red;
  background-color: transparent;
  border: solid 1px red;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 10px;
  margin: 0 auto; }

#Grid blockquote H4 {
  color: white;
  background-color: red;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 20px 20px 0 0;
  margin-top: 0!important; }

  table.Slots {
  position: relative;
  top: 30px;
  color: #bdbdbd;
  font-family: sans-serif;
  font-size: 13px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 18px; }

table.Wait {
  position: relative;
  top: 50px;
  color: #bdbdbd;
  font-family: sans-serif;
  font-size: 13px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 18px; }

table.Slots td .Num, table.Wait td .Num {
  background-color: #d5d0ff;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px 12px;
  margin: 0 10px 10px 0; }

.TOS blockquote {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: normal;
  width: 1000px;
  color: #bdbdbd;
  text-align: center;
  word-wrap: normal;
  letter-spacing: 1px;
  line-height: 20px;
  background-color: #fff;
  border: solid #e7e7e7 1px;
  border-radius: 20px;
  padding-bottom: 10px;
  margin: 20px auto;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
     -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
          box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15); }

.TOS blockquote.A { border-bottom: solid 4px #a0f0f2; }
.TOS blockquote.B { border-bottom: solid 4px #afa6fb; }
.TOS blockquote.C { border-bottom: solid 4px #ffc5ed; }

.TOS blockquote H2 {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  border-bottom: solid 1px #fff;
  border-radius: 20px 20px 0 0;
  padding: 20px 0;
  margin-top: 0!important; }

.TOS blockquote H2.A { color: #a0f0f2; background-color: #d2feff; }
.TOS blockquote H2.B { color: #afa6fb; background-color: #d5d0ff; }
.TOS blockquote H2.C { color: #ffc5ed; background-color: #ffd5f2; }

.TOS blockquote H2 span {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 100%;
  padding: 10px 14px;
  margin-bottom: 16px; }

a.Zoom:link, a.Zoom:active, a.Zoom:visited {
  position: relative;
  left: 15px;
  float: left;
  color: rgba(255,255,255,0.8);
  font-size: 35px;
  text-decoration: none;
  -webkit-transition:all 0.5s ease-in-out;
     -moz-transition:all 0.5s ease-in-out;
      -ms-transition:all 0.5s ease-in-out;
       -o-transition:all 0.5s ease-in-out;
          transition:all 0.5s ease-in-out; }

a.Zoom.Pre:link, a.Zoom.Pre:active, a.Zoom.Pre:visited { top: 25px; }
a.Zoom.Cus:link, a.Zoom.Cus:active, a.Zoom.Cus:visited { top: 25px; }

a.Form:link, a.Form:active, a.Form:visited {
  position: relative;
  top: 25px;
  right: 15px;
  float: right;
  color: rgba(255,255,255,0.8);
  font-size: 35px;
  text-decoration: none;
  -webkit-transition:all 0.5s ease-in-out;
     -moz-transition:all 0.5s ease-in-out;
      -ms-transition:all 0.5s ease-in-out;
       -o-transition:all 0.5s ease-in-out;
          transition:all 0.5s ease-in-out; }

a.Zoom:hover, a.Form:hover { color: rgba(88, 208, 205,0.6); }

/* S T Y L E S H E E T   M A D E   B Y   K Y A @ I M V U . C O M

   E T O I L E   L A Y O U T S    (C)   A L L   R I G H T S   R E S E R V E D

   D O   N O T   S T E A L,   A L T E R,   R E D I S T R I B U T E   OR   C O P Y    I N   A N Y    W A Y!

   Y O U   H A V E   B E E N   W A R N E D! */
