@charset "utf-8";

	/* Layout design and coding by Digidoll ♥ */


	@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
	@import url(http://fonts.googleapis.com/css?family=BenchNine);
	@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300|Roboto);
	@import url('https://fonts.googleapis.com/css?family=Raleway');
	@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
	@import url('https://fonts.googleapis.com/css?family=Rajdhani');
	@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
	@import url('https://fonts.googleapis.com/css?family=Marvel');
	@import url('https://fonts.googleapis.com/css?family=Wire+One');
	@import url('https://fonts.googleapis.com/css?family=Sansita');
	@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
	@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
	@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');
	@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');


	body {
		background-color: transparent;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: #f9f9f9;
		margin: 0px auto;
	}


	.all {
		position: relative;
		background-color: #0e0e0e;
		width: 100%;
		height: auto;
		left: 0;
		top: 0%;
		margin: 0px auto;
		z-index: 999;
	}

	header {
		position: relative;
		width: 100%;
		height: 50%;
		top: 0%;
		left: 0%;
		background: -webkit-linear-gradient(left, #8a7c7c , #849cb1);
		background: linear-gradient(to right, #8a7c7c , #849cb1);
		padding: 0% 0%;
		margin: 0px auto;
		z-index: 9;
	}

	#logo {
		position: relative;
		text-align: center;
		font-family: "MonteCarlo";
		font-size: 50pt;
		color: #fff;
		margin: 0px auto;
		padding: 2% 0px;
		text-transform: uppercase;
		letter-spacing: 5px;
		text-shadow: 2px 2px #111;
	}


	.hd {
		position: relative;
		width: 100%;
		height: 100%;
		top: 0%;
		left: 0%;
		background-image: url("/site/gemini/assets/img/gal.png");
		z-index: 75;
	}

	.moon {
		position: relative;
		width: 100%;
		top: 0%;
		left: -3%;
		background-image: url("/site/gemini/assets/img/gas.png");
		background-size: 100% 180%;
		background-repeat: no-repeat;
		background-position: left;
		opacity: 0.6;
		z-index: 99;
	}

	.top {
		position: relative;
		width: 30%;
		height: 60%;
		margin: 0 auto;
		background-color:#transparent;
		opacity: 0.8;
		margin: 50px auto;
			position: relative;
			text-align: center;
			background-color: #111;
			padding: 40px 10px;
			margin: 30px auto;
		}



	.main a:link,a:visited,a:active {
		font-size: 12px;
		color: #ff2592;
		font-weight: bold;
		text-decoration: none;
		text-shadow:  0px 0px 1px #fff;
	}

	.main a:hover { color: #fff;  text-shadow:  0px 0px 0px #000; }

	.scroller {
		position: relative;
		right: 10px;
		width: 100%;
		height: 100%;
		z-index: 999;
		margin: 30px 0px 0px;
	}


	.main {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-y: hidden;
		background-color: #E3E8E3!important;
		background-image: url('/site/gemini/assets/img/gplay.png');
		background-attachment: scroll;
		background-position: top-left;
	}


	#main-content{
		position: relative;
		width:100%;
		float: right;
		right: 0px;
		top: 0%;
		background-color: #E3E8E3!important;
		background-image: url('/site/gemini/assets/img/gplay.png');
		margin: 0% auto;

	}

		#home{
			width: 70%;
			left: 0%;
			background-color:transparent;
			margin: 0px auto;
			padding: 100px 0px 0px;
		}

		.bars {
			position: relative;
			width: 100%;
			bottom: 0%;
			left: 0px;
			z-index: 999;
		}


			.bar1 {
				height: 10px;
				background-color: #c18167;
				opacity: 0.6;
				z-index: 50;
			}

			.bar2 {
				line-height: 9px;
				font-family: Century Gothic;
				color: #fff;
				font-size: 11px;
				Font-weight: bold;
				height: 180px;
				background-color: #bcbcbc;
				z-index: 50;
			}

			.ref {
				position: relative;
				width: 177px;
				left: 0%;
				list-style-type: none;
				padding: 0px  20px  0px  20px;
				margin-top: 10px;
			}

				.ref  a {
					list-style-type: none!important;
					text-align: center;
					color: #fff!important;
					display: block;
					font-family: 'Didact Gothic', sans-serif;
					font-size:5pt!important;
					text-transform:uppercase;
					text-decoration:none;
					padding: 8px 15px 1px 15px;
					word-spacing: 2px;
					width:145px;
					height:17px;
					margin-bottom: 3px;
					letter-spacing: 1px;
					-moz-transition:all 0.8s ease-out;
					-webkit-transition:all 0.8s ease-out;
					border: solid 1px;
				}

				.ref a:hover {
					height: 17px;
					list-style-type:none!important;
					color: #e3e8e3!important;
					background-color: rgba(17,17,17,0.3);
					letter-spacing: 3px;
					font-weight: bold;
					border: 1px solid rgba(17,17,17,0.3);
					-moz-transition:all 0.3s ease-in;
					-webkit-transition:all 0.3s  ease-in;
				}


				footer {
					margin-bottom: 0px!important;
					line-height: 9px;
					font-family: Century Gothic;
					color: #e3e8e3;
					text-shadow: 2px 2px 4px #0e0e0e;
					font-size: 7px;
					letter-spacing: 2px;
					Font-weight: bold;
					text-align: center;
					padding: 10px 0px 10px 0px;
					background-color: #8a7c7c;
					z-index: 50;
					text-transform:uppercase;
				}

				.blk {
			color: #0e0e0e!important;
			background-color: #d9d9d9;
			background-image:url();
			background-repeat:repeat ;
			box-shadow: inset 0px 0px 0px #6911a9, 0px 0px 5px #287d80;
			padding:  2% 5% 5%;
			margin: 5px 0px 50px;
		}

		H1.sub {
		text-align: left;
		Font-weight: normal;
		text-indent: 20px;
		line-height: 10px;
		margin-top: 0px;
		font-family: 'Raleway', sans-serif;
		font-size:19pt;
		color: #ffe593;
		text-shadow: 2px 2px 5px #0e0e0e;
		box-shadow: 0px 4px 7px #8a7c7c;
		background-color: #353535;
		/* border-bottom: 2px solid #8a7c7c; */
		letter-spacing: 0px;
		word-spacing: 10px;
		padding: 10px  5px  15px  0px;
		text-transform:;
		border-radius: 2px 0px 0px 0px;
	}

		.tr{
			position: relative;
			overflow:hidden;
			top: 13px;
			left: 48.5%;
			width:25px;
			height:25px;
			-webkit-transform:rotate(45deg);
			-ms-transform:rotate(45deg);
			transform:rotate(45deg);
			background-color: #8a7c7c;
			border-bottom: 1px solid #0e0e0e;
			border-right: 1px solid #0e0e0e;
			z-index: 90;
			box-shadow: 3px 3px 5px #888888;
		}

		.tr-fixed {
			position: fixed;
			width: 100%;
			top: 0!important;
			z-index:9000;
			background-color: transparent;
		}

	.menu {
		position: relative;
		width:100%;
		height: 25px;
		background-color: #8a7c7c;
		top: 0%;
		left: 0%;
		z-index: 2;
		border-top: 1px solid #0e0e0e;
		border-bottom: 1px solid #0e0e0e;
		box-shadow: 0px 5px 7px #888888;
	}

		.menu-fixed {
			position: fixed;
			width: 100%;
			top: 0!important;
			z-index:9000;

		}




@-moz-keyframes NyKmm1{0%{transform:scale(1)}25%{transform:scale(1.06)}50%{transform:scale(1.02)}75%{transform:scale(1.03)}100%{transform:scale(1.02)}}@-webkit-keyframes NyKmm1{0%{transform:scale(1)}25%{transform:scale(1.3)}50%{transform:scale(1.1)}75%{transform:scale(1.3)}100%{transform:scale(1.1)}}@-moz-keyframes NyKNN5{0%{background-color:#40dbe1}34%{background-color:#c785f6}67%{background-color:#f977b8}}@-webkit-keyframes NyKNN5{0%{background-color:#40dbe1}34%{background-color:#c785f6}67%{background-color:#f977b8}}::selection{color:#fff;background:#transparent}



		blockquote {
			text-align: center;
			font-size: 9px;
			width: 450px;
			color: black;
			background-color: #ededed;
			border-left: 12px double black;
			border-right: 12px double black;
			padding: 2px 2px 2px 2px;
			margin: 15px auto;
		}

				.bubble0,.bubble1,.bubble2 {
					color: #fff;
					border-radius: 10px;
					display: inline-block;
					padding: 10px 18px;
					margin-bottom: 5px;
					position: relative;
					vertical-align: top;
					width:800;
					font-family: Century Gothic!important;
					font-size: 15px!important;
					Font-weight: bold;
					text-shadow:  0px 0px 1px #9a9a9a;
					box-shadow: inset 0px 0px 1px #06696c, 0px 0px 3px #29797c;
				}



		.ref {
			padding: 0px  20px  0px  20px ;
		}



	::selection {color: #fff; background: #transparent;}

	::-webkit-scrollbar-thumb:vertical { background-color: #8a7c7c; height: 50px; border-radius: 60px z-index;}
	::-webkit-scrollbar { height: 6px; width: 6px; background-color: #353535;}



	.nav {
	  position: absolute;
	  width: 200px;
	  overflow:hidden;
	  top: 16%;
	  left: 20%;
	  list-style: none;
	  z-index: 999;

	}

	.nav a {
	  float: left;
	  list-style: none;
	  display: inline-block;
	  width: 118px;
	  color: #fff;
	  font: normal 6pt small fonts;
	  font-weight: bold;
	  font-family: Tahoma;
	    text-transform:uppercase;
	    text-decoration :none;
	    word-spacing: 2px;
	  text-align: center;
	  text-shadow: 1px 1px 3px #111;
	  background-color: transparent;
	  margin: 10px 10px;
	  text-decoration: none;
	  word-spacing: 2px;
	  letter-spacing: .5px;
	  line-height:10px;
	  border-radius: 20px;
	  -moz-transition:all 0.8s ease-out;
	  -webkit-transition:all 0.8s ease-out;
	padding: 16px 8px 12px 8px;

	}

	.nav a:hover {

	}



	.navr {
	  position: absolute;
	  width: 200px;
	  overflow:hidden;
	  top: 15%;
	  right: 20%;
	  list-style: none;
	  z-index: 999;

	}

	.navr a {
	  float: right;
	  list-style: none;
	  display: inline-block;
	  width: 118px;
	  color: #fff;
	  font: normal 6pt small fonts;
	  font-weight: bold;
	  font-family: Tahoma;
	    text-transform:uppercase;
	    text-decoration :none;
	    word-spacing: 2px;
	  text-align: center;
	  text-shadow: 1px 1px 3px #111;
	  background-color: transparent;
	  margin: 10px 10px;
	  text-decoration: none;
	  word-spacing: 2px;
	  letter-spacing: .5px;
	  line-height:10px;
	  border-radius: 20px;
	  -moz-transition:all 0.8s ease-out;
	  -webkit-transition:all 0.8s ease-out;
	padding: 16px 8px 12px 8px;
	}

	.navr a:hover {

	}


	.nav a.a:hover, .navr a.a:hover { background-color: #bcb4fb; color: #fff; }
	.nav a.b:hover, .navr a.b:hover { background-color: #b5f6f7; color: #fff; }
	.nav a.c:hover, .navr a.c:hover { background-color: #ffc5ed; color: #fff; }



	@media only screen and (max-width: 1000px) and (min-width: 300px) {

		header {
			display: none;
		}

		.all {
			width: 100%;
			top: 0px;
		}

		iframe {
			height: 20%;
		}

		.scroller {
			display: none;
		}

}

@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
