

	@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


.button_container {
  position: fixed;
  float: right;
  top: 2%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
  z-index: 999;
filter: drop-shadow(0px 0px 4px #000);
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {

  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  display: inline;
  position: fixed;
  background: rgba(17, 17, 17, 0.9);
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%!important;
  text-align: center!important;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 997;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: center!important;
  background-color: transparent;

}
.overlay ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  padding: 2% 0%;
  width: 100%!important;
  background-color: transparent;
  border-bottom: 1px solid #000;
  opacity: 0;
}
.overlay ul li a {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {

}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
